/*----------------------- INDEX CSS--------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.body {
    display: grid;
    grid-template-rows: 50px 120px 800px 100px;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
    grid-template-areas:
        "header header header header header header"
        "logo nav nav  nav nav iconoPerfil"
        "article article main main aside aside"
        "footer footer footer footer footer footer";
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ff914d;
    padding: 10px;
}

h1 {
    font-family: "Montserrat";
    color: rgb(81, 79, 79);

}

/*-----------Barra de Navegación-------------*/
.logo {
    background-color: rgb(81, 79, 79);
    grid-area: logo;
    display: flex;
    justify-content: left;
    align-items: center;
}

.navBar {
    background-color: rgb(81, 79, 79);
    color: white;
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    font-family: Montserrat;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.navBar a {
    color: white;
    padding: 0 30px;
}

.navBar a:hover {
    background-color: white;
    color: black;
}

ul{
    background-color: rgb(81, 79, 79);
}
 li {
    display: inline-block;
    width: 25%;
    position: relative;
}
ul ul {
position: absolute;
display: none;
}
ul ul li {
    display: block;
}
ul li:hover ul {
    display: block;
}

.iconoPerfil {
    grid-area: iconoPerfil;
    background-color: rgb(81, 79, 79);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
}

.botonSuscribete {
    color: white;
    border: white solid 2px;
    padding: 5px;
    margin-bottom: 12px;
    border-radius: 8px;
}

/*--------------Box Article-------------*/
.article {
    grid-area: article;
    display: flex;
    background-color: blanchedalmond;

}

.main {
    background-color: cornflowerblue;
    grid-area: main;
}

.aside {
    background-color: rgb(243, 237, 237);
    grid-area: aside;
}


.link-1 {
    margin: 1rem;
}

.link-2 {
    margin: 1rem;
}

.link-3 {
    margin: 1rem;
}

.link-4 {
    margin: 1rem;
}

.link-5 {
    margin: 1rem;
}

.link-6 {
    margin: 1rem;
}

.link-7 {
    margin: 1rem;
}

.formulario {
    padding: 6rem;
    border-radius: 1rem;
    background-color: bisque;
    width: 100%;
}


.form {
    display: flex;
    flex-direction: column;
}